.Rofl {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: purple;
  &:active {
    background-color: red;
  }
  p {
    color: orange;
    font-size: 40pt;
    -webkit-text-stroke-width: 1.5pt;
    -webkit-text-stroke-color: black;
  }
}
